body {
    background-image: url("https://kin1009.github.io/files/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 10;
    font-family: "Segoe UI";
    float: left;
    color: white;
}
a:link, a:visited, a:hover, a:active {
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    float: left;
    background-color: transparent;
    text-decoration: underline;

}
button {
    color: white;
    font-family: "Segoe UI";
    font-weight: bold;
    background-color: darkgreen;
    border: 1px solid;
    border-radius: 10px;
    border-color: green;
    min-width: 100px;
    text-align: center;
    transition: 0.3s;
}
button:hover {
    color: black;
    background-color: green;
    border-color: lightgreen;
}