* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
    color: #ffffff;
    margin-bottom: 20px;
}

body {
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: #333333; /* Gray color */
    justify-content: left;
    align-items: center;
    padding: 20px;
    width: 15%; /* Default width */
    display: flex;
    flex-direction: column;
    position: fixed; /* Fixes sidebar in the top-left corner */
    top: 0; /* Aligns to the top */
    left: 15px; /* Aligns to the left */
    height: 100vh; /* Full viewport height */
}

/* Media query for larger screens */

/* Sidebar image styling */
.sidebar img {
    max-width: 75%;
    height: auto;
    border-radius: 15px;
}



.content {
    width: 70%;
    background-color: #333333; /* Gray color */
    padding: 40px;
    overflow-wrap: break-word;
    height: 100%;
    margin-left: 15%;

}

p {
    color: #ffffff;
    line-height: 1.6;
    overflow-wrap: break-word;
}
