* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

body {
    background-color: #333333;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #006baa; /* Blue color */
    justify-content: left;
    align-items: center;
    padding: 20px;
}

.sidebar img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.content {
    width: 70%;
    background-color: #333333; /* Gray color */
    padding: 40px;
    overflow-y: auto;
}

h1 h2 h3 h4 h5 h6 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
    line-height: 1.6;
}
